.myModal{
    position: fixed;
    top:0;
    bottom: 0rem;
    left: 0;
    right: 0;
    display: none;
    background: #00000080;
}

.myModalContent{
    padding: 1.1rem;
    background: #fff;
    border-radius: 1rem;
    width: 95vw;
}

.myModal.active{
    display:flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 374.99px){
    .myModalContent{
        width: 85vw;
        padding: 1.5rem;
    }
}
@media screen and (min-width: 567.99px) and (orientation: landscape){
    .myModalContent{
        width: 85vw;
        max-width: 400px;
    }
}
@media screen and (min-width: 767.99px){
    .myModalContent{
        width: 70vw;
    }
}
@media screen and (min-width: 1023.99px){
    .myModalContent{
        max-width: 500px;
    }
}