*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  height: 90vh;
  background-color:#c0c6c9;
}

.title{
  font-size: 2.5rem;
  margin: 0.5rem 0 0 0;
  font-size: bold;
  color:#c0c6c9;
  text-shadow:2px 2px 4px #ffffff;
}

img{
  margin: 0rem;
}

ol, ul {
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
 
}
li{
  display: flex;
  gap: 0.5rem;
  
  
}
.logo{
  position:absolute;
  width: 80vw;
  transform: translate(50%, 10%);
  top: 50vh;
  right:50vw;
  z-index: -1;
  fill:#ffffff54;

}
.options{
  display: flex;
  flex-direction: row-reverse;
  justify-content:start;
  position: relative;
}
.reverse{
  color: rgb(1, 151, 119);
  border-radius: 0.2rem;
  width: fit-content;
  height:max-content;
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  border: none;
  box-shadow: 1px 1px 5px #037562,
  inset -1px -1px 1px #037562;
  background: #fff;
  margin: 1rem 0 0 0;
  cursor: pointer;
  position: absolute;
  top: -1rem;
  right: 0rem;
}

.history{
  color: rgb(1, 151, 119);
  border-radius: 0.2rem;
  width: fit-content;
  height:max-content;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border: none;
  box-shadow: 1px 1px 5px #037562,
  inset -1px -1px 1px #037562;
  background: #fff;
  /* margin: 1rem 0 0 0; */
  cursor: pointer;
  
}
.history:focus{
  outline: none;
}

.boardRow:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin: 0px 0;
  color: #037562;
  /* text-shadow: -2px -2px 2px #ffffff; */
  border-radius: 0.5rem;
  font-weight: 500;
}
 


.mybutton{
  border: none;
  box-shadow: 2px 2px 5px #037562,
  inset 3px 3px 8px #ffffff;
  border-radius: 0.2rem;
  color:#037562;
  font-size: 0.9rem;
}
.mybutton:focus{
  outline: none;
}

.gold{
  background: radial-gradient(ellipse farthest-corner at  bottom right, #ac71293f 0%, #F9E77D 50%, #D0A835 75%, #AC7029 100%), 
  radial-gradient(ellipse farthest-corner at top, #ac7129 0%, #F9E77D 50%, #D0A835 75%, #ac71298f 100%)!important;
  color:#ffffff!important;
  text-shadow: 1px 1px 5px rgba(155, 113, 22, 0.651);
}

.square {
  background: #ffffffe8;
  border: 1px solid #999;
  float: left;
  color: #00a790;
  font-size: 3rem;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 33.33%;
  height: 95px;
}

.active{
  background-color: #00a790;
  color: white !important;
}
.bold{
  font-weight: 900;
}

.square:focus {
  outline: none;
}

.kbdNavigation .square:focus {
  background: #d5d5d5;
}

.game {
  display: flex;
  flex-direction: column;
  gap:1rem;
  align-items: center;
  justify-content: space-between;
  min-height: 93vh;
}

.gameInfo {
  margin-left: 0px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gameBoard {
  width: 300px;
  height: 300px;
}

.game-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.status{
  font-size: 2rem;
}

.license{
  /* position: absolute;
  bottom:50%;
  right:50%;
  transform:translate(50%,10%); */
  width:200px;
}
@media screen and (min-width: 374.99px) {
  .gameBoard{
    width: 330px;
    height: 330px;
  }
  .square{
    height: 110px;
  }
}

@media screen and (min-width: 567.99px) {
  .gameBoard {
    width: 280px;
    height: 280px;
  }
  .logo{
    
    width: 55vw;
    transform: translate(50%,-50%);
    top: 50vh;
    right:50vw;
  }
  .square{
    width: 33.33%;
    height: 90px;
    font-size: 3rem;
  }
  .game {
    justify-content: center;
    min-height: none;
  }
  .game-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:100vw;
    height: 85vh;
  }
  
  .history{
    font-size: 1rem;
  }

  .mybutton{
    font-size: 1rem;
  }
  .reverse{
    font-size: 1rem;
  }
  .status{
    font-size: 1.2rem;
  }
  .license{
    position: absolute;
    bottom:5%;
    right:5%;
    width:150px;
  }
  
}

@media screen and (min-width: 666.99px) and (orientation:landscape) {
  .gameBoard {
    width: 300px;
    height: 300px;
  }
  .logo{
    
    width: 55vw;
    transform: translate(50%,-50%);
    top: 50vh;
    right:50vw;
  }
  .square{
    width: 33.33%;
    height: 100px;
    font-size: 3rem;
  }
  .game {
    justify-content: center;
    min-height: none;
  }
  .game-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    height: 80vh;
  }
  
  .history{
    font-size: 1.5rem;
  }

  .mybutton{
    font-size: 1rem;
  }
  .reverse{
    font-size: 1rem;
  }
  .status{
    font-size: 1.5rem;
  }
  .license{
    position: absolute;
    bottom:8%;
    right:8%;
    width:180px;
  }
  
}

@media screen and (min-width: 767.99px) and (orientation: portrait) {
  .game{
    min-height: 80vh;
    justify-content: space-evenly;
  }
  .gameBoard {
    width: 500px;
    height: 500px;
  }
  .gameInfo{
    gap: 2rem;
  }
  .logo{
    width: 55vw;
    transform: translate(50%,15%);
    top: 50vh;
    right:50vw;
  }
  .square{
    width: 33.33%;
    height: 165px;
    font-size: 5rem;
  }
  .game-container{
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: start;
    height: 80vh;
  }
  
  .history{
    font-size: 2rem;
  }

  .mybutton{
    font-size: 1.5rem;
  }
  .reverse{
    font-size: 1.5rem;
  }
  .status{
    font-size: 3rem;
  }
  .license{
    position:relative;
    width: 300px;
  }
}
@media screen and (min-width: 1023.99px) {
  
  .license{
    position: absolute;
  }
  .gameBoard {
    width: 500px;
    height: 500px;
  }
  .logo{
    width: 90vh;
    transform: translate(50%,-50%);
    top: 50vh;
    right:50vw;
  }
  .square{
    width: 33.33%;
    height: 165px;
    font-size: 5rem;

  }
  .game {
    justify-content: space-evenly;
    min-height: 100vh;
  }
  .game-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    height: fit-content;
  }
  .gameInfo{
    width: 33%;
    gap: 3rem;
  }
  .history{
    font-size: 2.1rem;
  }

  .mybutton{
    font-size: 1.5rem;
  }
  .reverse{
    font-size: 1.5rem;
  }
  .status{
    font-size: 3rem;
    text-align: center;

  }
  .license{
    width:300px;
  }
}
@media screen and (min-width: 1279.99px) {
  .logo{
    width: 90vh;
    transform: translate(50%,-50%);
    top: 50vh;
    right:50vw;
  }
}